<!-- header -->
<nav class="navbar navbar-inverse" id="header">
    <div class="container text-center">
        <!-- 導覽列標頭 -->
        <div class="navbar-header col-xs-12  col-md-2 col-md-offset-2">
            <%= link_to(root_path, class: "navbar-brand") do%>
              <%= image_tag("header.png") %>
            <%end %>
            <!-- <a class="navbar-brand" href="layout.html"> -->
                <!-- <img src="../watch180/img/header.png"> -->
            <!-- </a> -->
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- 導覽列選項-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav col-md-8 col-md-offset-2 col-xs-9">
                <li class="visible-xs">
                  <%= link_to(root_path) do%>
                    <p>新 進 商 品</p><b>New</b> <span class="sr-only">(current)</span>
                  <% end %>
                    <!-- <a href="layout.html">
                        <p>新 進 商 品</p><b>New</b> <span class="sr-only">(current)</span></a> -->
                </li>
                <li class="">
                  <%= link_to(about_path) do%>
                    <p>關 於 我 們</p><b>About</b> <span class="sr-only">(current)</span>
                  <% end %>
                   <!--  <a href="about.html">
                        <p>關 於 我 們</p><b>About</b> <span class="sr-only">(current)</span></a> -->
                </li>
                <li>
                  <%= link_to(brands_path) do%>
                    <p>品 牌 精 選</p><b>Brand</b>
                  <% end %>
                    <!-- <a href="brand.html">
                        <p>品 牌 精 選</p><b>Brand</b></a> -->
                </li>
                <li>
                  <%= link_to(contact_path) do%>
                    <p>聯 絡 我 們</p>
                    <b2>Contact Us</b2>
                  <% end %>
                    <!-- <a href="contact.html">
                        <p>聯 絡 我 們</p>
                        <b2>Contact Us</b2>
                    </a> -->
                </li>
                <li>
                  <%= link_to(new_subscriber_path) do%>
                    <p>加 入 會 員</p>
                    <b2>Join Member</b2>
                  <% end %>
                    <!-- <a href="join.html">
                        <p>加 入 會 員</p>
                        <b2>Join Member</b2>
                    </a> -->
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>