<div class="container-fluid bg-about1">
    <div class="text-center col-md-6 col-md-offset-3 col-xs-10 col-xs-offest-1">
      <%= image_tag("home06.png", class: "img-responsive col-md-6 col-md-offset-3 down-sm") %>
      <!-- <img src="img/home06.png" class="img-responsive col-md-6 col-md-offset-3 down-sm"> -->
    </div>
    <div class="text-center col-md-6 col-md-offset-3 hidden-xs ">
        </br>
        <br>
    </div>
    <div class="container ">
        <div class="col-md-12 col-xs-12 down-xs">
            <h4><strong>具有40年的高級鐘錶修護經驗</strong>，並於30年前就開始從事高級精品相關服務。</h4>
            <h4>近年來引進歐美日盛行多年的OUTLET折扣名牌精品的概念，提供精緻專業的高級精品的全方位服務，讓想擁有高級精品卻不想負擔大<br>
                        筆金額的顧客能以經濟的預算，能夠買到滿意品質的精品，並且享受到完善的售後服務與保障。也就是以「 一分錢 」買到 「 兩分貨 」<br>
                        獲得「 三分價值 」。<br>
                        <br>
                        我們提供創新的「 One Stop Service 」全方位服務，並提出精品新價值宣告的「 四大保證 」。<br>
                        <br>
                        </h4>
            <h3><strong>十年免費保固</strong></h3>
            <h4>由專業技師免費為機芯內部健檢，保養，洗油作售後服務（如有零件損壞需更換，則酌收費用）</h4>
            <br>
            <h3><strong>每年免費保新</strong></h3>
            <h4>由我們所拍賣的精品每年均享免費外觀美容的服務。</h4>
            <br>
            <h3><strong>現金保證收回</strong></h3>
            <h4>如你想更換其他精品，依您實際使用現況，經徹底市場行情調查，以高價收回抵價。</h4>
            <br>
            <h3><strong>低利理財資借</strong></h3>
            <h4>如您急需使用現金，我們在5分鐘內提供不收任何手續費的低利資借服務。較貴重的珠寶精品，同時會附上由具公信力專業公司所<br>
                        <br><br>另有專屬的珠寶設計師，接受您的委託訂製最新時尚的款式，讓您與國際時尚圈同步零時差。<br><br>
                        <br>您也可以透過我們的網站，可以查詢到最新精品的訊息，並竭誠歡迎您來「 尋寶 」，同時我們也提供您貼心的代客停車服務，當然如您<br>
                        有需要我們也可以專人到府做免費的估價服務。
                        </h4>
            <br>
            <h3><strong>「 完美品質，創低價格，滿意服務 」 一直是我們永續經營的理念</strong></h3>
        </div>
        <div class="col-md-12 hidden-xs">
            <!-- 這裏放圖片 -->
            <div class="row ">
                <div class="col-md-4 ">
                  <%= image_tag("env1.png", class: "img-responsive") %>
                    <!-- <img src="img/env.jpg" class="img-responsive"> -->
                </div>
                <div class="col-md-4 col-xs-12">
                   <%= image_tag("env2.png", class: "img-responsive") %>
                    <!-- <img src="img/env.jpg" class="img-responsive"> -->
                </div>
                <div class="col-md-4 col-xs-12">
                  <%= image_tag("env3.png", class: "img-responsive") %>
                    <!-- <img src="img/env.jpg" class="img-responsive"> -->
                </div>
            </div>
            <div class="down-sm"></div>
        </div>

        <div class="row visible-xs">
            <!-- 這裏放圖片 -->

                <div >
                  <%= image_tag("env1.png", class: "img-responsive") %>
                    <!-- <img src="img/env.jpg" class="img-responsive"> -->
                </div>
                <div>
                   <%= image_tag("env2.png", class: "img-responsive") %>
                    <!-- <img src="img/env.jpg" class="img-responsive"> -->
                </div>
                <div>
                  <%= image_tag("env3.png", class: "img-responsive") %>
                    <!-- <img src="img/env.jpg" class="img-responsive"> -->
                </div>

            <div class="down-sm"></div>
        </div>
    </div>


</div>