<tr>
  <td> 
    <%= product.id %>
  </td>

  <td> 
    <%= product.number %>
  </td>

  <td>
    <h3><%= link_to( product.title , product_path(product) )%></h3>   
  </td>
  <td>   
  <%=link_to admin_product_path(product) do%>     
    <%= image_tag(product.display_photo.try(:image_url), size: "200") %>
  <%end%>    
  </td>
  
  <td> <%= link_to("修改", edit_admin_product_path(product), class: "btn btn-warning btn-lg") %> </td>
  <td> <%= link_to("刪除", admin_product_path(product), class: "btn btn-danger btn-lg", method: :delete, 'data-confirm': "確定要刪除商品嗎?" ) %> </td>
</tr>