 <!-- 精選品牌列表  -->
<div class="container brand-contain " id="brand">
    <div class="col-md-12 inline brain-title">
        <div class="col-md-1 col-xs-2">
          <%= image_tag('brand01.png') %>
            <!-- <img src="img/brand01.png"> -->
        </div>
        <div class="col-md-8 title col-xs-12 hidden-xs  ">
            <h3><strong>BRAND 精選品牌</strong></h3>
            <p>||</p>
            <h4 class="fuck-font" style="color:#B79A77"> <%= @brand.title %> <%= @brand.chinese_title %> </h4>
        </div>
        <div class="col-md-8 title col-xs-10 visible-xs down-xs  text-left">
            <h4><strong class="fuck-fuck-font">BRAND 精選品牌</strong></h4>
        </div>
        <div class="col-xs-8   down-xs  visible-xs text-left">
            <h5 style="color:#B79A77"> <%= @brand.title %> <%= @brand.chinese_title %></h5>
        </div>
    </div>

    <% @products.each_with_index do |product, index| %>
      <% if(index%3 == 0)%>
          <div class="row">
      <% end %>
        <div class="col-md-4 down-sm hidden-xs">
          <%= link_to(product_path(product)) do %>
            <div class="pic"> 
              <%= image_tag(product.display_photo.try(:image_url), class: "watch_l_img") %>
            </div> 

            <h5 class="right-xs">#<%= product.number %></h5>

            <h4 class="right-xs"> <%= product.title %> </h4>

            <h4 class="right-xs">售價：<span class="fuck-color"> <%= product.price %></span> </h4>
          <% end %>
          <!-- <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a> -->
          
          
        </div>

         <div class="col-xs-12 down-xs visible-xs">
          <%= link_to(product_path(product)) do %>
            <div class="phone_pic row"> 
              <%= image_tag(product.display_photo.try(:image_url), class: "watch_l_img") %>
              <%# image_tag('home03.png', class: "watch_l_img") %>
            </div> 
            <h5 class="right-xs">#<%= product.number %></h5>

            <h4 class="right-xs"> <%= product.title %> </h4>

            <h4 class="right-xs">售價：<span class="fuck-color"> <%= product.price %></span> </h4>

            
          <% end %>
          <!-- <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a> -->
        
        </div>
      
      <% if(index%3 == 2 || index == @products.size - 1)%>
        </div>
      <% end %>

    <% end %>




    <div style = "text-align:center;">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>

    <!-- <div class="col-md-3 col-md-offset-1  down-xl">
        <img src="img/home03.png">
        <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a>
        <h5 class="right-sm">#9262</h5>
    </div>
    <div class="col-md-3 col-md-offset-1   down-xl">
        <img src="img/home03.png">
        <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a>
        <h5 class="right-sm">#9262</h5>
    </div>
    <div class="col-md-3 col-md-offset-1  down-xl">
        <img src="img/home03.png">
        <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a>
        <h5 class="right-sm">#9262</h5>
    </div>
    <div class="col-md-3 col-md-offset-1  down-xl">
        <img src="img/home03.png">
        <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a>
        <h5 class="right-sm">#9262</h5>
    </div>
    <div class="col-md-3 col-md-offset-1   down-xl">
        <img src="img/home03.png">
        <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a>
        <h5 class="right-sm">#9262</h5>
    </div>
    <div class="col-md-3 col-md-offset-1  down-xl">
        <img src="img/home03.png">
        <a href="detail.html"><h4 class="down-sm right-sm ">CHANEL陶瓷女用腕錶</h4></a>
        <h5 class=" right-sm">#9262</h5>
    </div> -->
</div>